# Filtering rows 2: Using `filter` and the Expression API

By the end of this lecture you will be able to:
- select rows with the `filter` method
- add a row number column
- select rows with multiple conditions
- explain the difference between `[]` and `filter`

The `filter` method is our first example of the *Expression API*.

_**Learning to use the *Expression API* is the most important step to writing high performance queries in Polars**_

In [1]:
import polars as pl

In [2]:
csvFile = "../data/titanic.csv"

In [3]:
df = pl.read_csv(csvFile)
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## Selecting rows with `filter`

We first use an *expression* in the `filter` method before we examine the syntax in more detail.

In this example we choose all the first class passengers.

In [4]:
df.filter(
    pl.col('Pclass') == 1
).head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Flor…     ┆   ┆          ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (Li… ┆   ┆          ┆         ┆       ┆          │
│ 7           ┆ 0        ┆ 1      ┆ McCarthy, Mr.      ┆ … ┆ 17463    ┆ 51.8625 ┆ E46   ┆ S        │
│             ┆          ┆        ┆ Timothy J          ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

## Syntax of `filter`
Inside the `filter` method we pass our first _**expression**_ and apply a Boolean condition to it:

`pl.col('Pclass') == 1`

This expression has two parts:
- `pl.col('Pclass')` expression selects the `Pclass` column from `df`
- `== 1` applies a Boolean condition to this expression

In this example we choose all rows with the number of parents & children (`Parch`) is greater than 1

In [5]:
df.filter(
    pl.col('Parch') > 1
).head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---    ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str    ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪════════╪═════════╪═══════╪══════════╡
│ 9           ┆ 1        ┆ 3      ┆ Johnson, Mrs. Oscar  ┆ … ┆ 347742 ┆ 11.1333 ┆ null  ┆ S        │
│             ┆          ┆        ┆ W (Elisabeth…        ┆   ┆        ┆         ┆       ┆          │
│ 14          ┆ 0        ┆ 3      ┆ Andersson, Mr.       ┆ … ┆ 347082 ┆ 31.275  ┆ null  ┆ S        │
│             ┆          ┆        ┆ Anders Johan         ┆   ┆        ┆         ┆       ┆          │
│ 26          ┆ 1        ┆ 3      ┆ Asplund, Mrs. Carl   ┆ … ┆ 347077 ┆ 31.3875 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Oscar (Selma …       ┆   ┆        ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────────┴───┴────────┴─────────┴───────┴──────────┘

## Key differences between `[]` and `filter`

- `[]` indexing can only be used in eager mode, `filter` can also be used in lazy mode
- `filter` expressions can be **optimised** in lazy mode by the query optimiser

Use cases for `[]`:
- inspecting data in interactive mode

Use cases for `filter`:
- all other times

### Conditions based on row numbers

We can add an explicit row number column using `with_row_count` on a `DataFrame`

In [7]:
df = pl.read_csv(csvFile)
df = df.with_row_count(name='row_nr')
df.head(3)

shape: (3, 13)
┌────────┬─────────────┬──────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ row_nr ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---    ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ u32    ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞════════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 0      ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 1      ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 2      ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
└────────┴─────────────┴──────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

We can then use `filter` to apply a condition based on row number

In [8]:
df.filter(
    pl.col('row_nr') < 4
)

shape: (4, 13)
┌────────┬─────────────┬──────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ row_nr ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---    ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ u32    ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞════════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 0      ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 1      ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 2      ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ 3      ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
└────────┴─────────────┴──────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

## Select rows with multiple conditions

### Apply `AND` conditions

We can apply filter `AND` conditions by **chaining** calls to `filter`.

In [9]:
dfFiltered = (
    pl.read_csv(csvFile)
    .filter(
        pl.col('Pclass') == 1
    )
    .filter(
        pl.col('Age') > 70
    )
)
dfFiltered.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 97          ┆ 0        ┆ 1      ┆ Goldschmidt, Mr.   ┆ … ┆ PC 17754 ┆ 34.6542 ┆ A5    ┆ C        │
│             ┆          ┆        ┆ George B           ┆   ┆          ┆         ┆       ┆          │
│ 494         ┆ 0        ┆ 1      ┆ Artagaveytia, Mr.  ┆ … ┆ PC 17609 ┆ 49.5042 ┆ null  ┆ C        │
│             ┆          ┆        ┆ Ramon              ┆   ┆          ┆         ┆       ┆          │
│ 631         ┆ 1        ┆ 1      ┆ Barkworth, Mr.     ┆ … ┆ 27042    ┆ 30.0    ┆ A23   ┆ S        │
│             ┆          ┆        ┆ Algernon Henry Wi… ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In eager mode chaining requires scanning the `DataFrame` for each `filter` call.

It is better to **concatenate** multiple `AND` conditions in a single `filter` call using `&`

In [ ]:
df.filter(
    (pl.col('Age') > 70) & (pl.col('Pclass') == 1)
).head(3)

### Apply `AND` condition on a range

If our `AND` condition is looking for values that are `<`,`<=` and `>`,`>=` we can use `in_between`.

The condition is `<` and `>` unless the `include_bounds` argument is set. See the docstrings for the full options https://pola-rs.github.io/polars/py-polars/html/reference/api/polars.Expr.is_between.html#polars.Expr.is_between

In [10]:
(
    df
    .filter(
        pl.col("Age").is_between(10.5,11.5)
    )
)

shape: (4, 13)
┌────────┬─────────────┬──────────┬────────┬───┬─────────┬─────────┬─────────┬──────────┐
│ row_nr ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket  ┆ Fare    ┆ Cabin   ┆ Embarked │
│ ---    ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---      │
│ u32    ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str     ┆ f64     ┆ str     ┆ str      │
╞════════╪═════════════╪══════════╪════════╪═══╪═════════╪═════════╪═════════╪══════════╡
│ 59     ┆ 60          ┆ 0        ┆ 3      ┆ … ┆ CA 2144 ┆ 46.9    ┆ null    ┆ S        │
│ 542    ┆ 543         ┆ 0        ┆ 3      ┆ … ┆ 347082  ┆ 31.275  ┆ null    ┆ S        │
│ 731    ┆ 732         ┆ 0        ┆ 3      ┆ … ┆ 2699    ┆ 18.7875 ┆ null    ┆ C        │
│ 802    ┆ 803         ┆ 1        ┆ 1      ┆ … ┆ 113760  ┆ 120.0   ┆ B96 B98 ┆ S        │
└────────┴─────────────┴──────────┴────────┴───┴─────────┴─────────┴─────────┴──────────┘

### Apply `OR` conditions

We can apply an OR filter using the pipe `|` operator

In [11]:
df.filter(
    (pl.col('Age') > 70) | (pl.col('Pclass') == 1)
).head(3)

shape: (3, 13)
┌────────┬─────────────┬──────────┬────────┬───┬──────────┬─────────┬───────┬──────────┐
│ row_nr ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---    ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ u32    ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞════════╪═════════════╪══════════╪════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 1      ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│ 3      ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
│ 6      ┆ 7           ┆ 0        ┆ 1      ┆ … ┆ 17463    ┆ 51.8625 ┆ E46   ┆ S        │
└────────┴─────────────┴──────────┴────────┴───┴──────────┴─────────┴───────┴──────────┘

If our `OR` statement is only testing for equality we can use `is_in`

In [31]:
print(
    df
    .lazy()
    .filter(
        pl.col("PassengerId").is_in([3,4])
    ).explain()
)

DF ["row_nr", "PassengerId", "Survived", "Pclass"]; PROJECT */13 COLUMNS; SELECTION: "col(\"PassengerId\").is_in([Series])"

# Exercises
In the exercises you will develop your understanding of
- using the `filter` method
- adding a row number column
- using the `filter` method with `AND` and `OR` conditions

## Exercise 1: Select all rows where `Age` is greater than 30

In [40]:
df = pl.read_csv(csvFile)
df.filter(
    pl.col("Age") > 30
).head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Flor…     ┆   ┆          ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 113803   ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (Li… ┆   ┆          ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 373450   ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Henry              ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

## Exercise 2: Filtering on row numbers
Add a row number column

In [42]:
df = pl.read_csv(csvFile)

df = df.with_row_count(name='row_nr')

df.filter(
    pl.col("row_nr") == 1
)

shape: (1, 13)
┌────────┬─────────────┬──────────┬────────┬───┬──────────┬─────────┬───────┬──────────┐
│ row_nr ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---    ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ u32    ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞════════╪═════════════╪══════════╪════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 1      ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
└────────┴─────────────┴──────────┴────────┴───┴──────────┴─────────┴───────┴──────────┘

Exercise 2 cont: Select the first 5 rows using `filter` on the row number column

In [43]:
df = pl.read_csv(csvFile)

df = df.with_row_count(name='row_nr')

df.filter(
    pl.col("row_nr") < 6
)

shape: (6, 13)
┌────────┬─────────────┬──────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ row_nr ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---    ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ u32    ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞════════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 0      ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 1      ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 2      ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ 3      ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
│ 4      ┆ 5           ┆ 0        ┆ 3      ┆ … ┆ 373450           ┆ 8.05    ┆ null  ┆ S        │
│ 5      ┆ 6           ┆ 0        ┆ 3      ┆ … ┆ 330877           ┆ 8.4583  ┆ null  ┆ Q        │
└────────┴─────────────┴──────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

## Exercise 3: Select all rows where `Age` is greater than 30 and the passenger was in 2nd class

In [46]:
df = pl.read_csv(csvFile)
df.filter(
    (pl.col("Age") > 30) & (pl.col("Pclass") == 2)
).head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬─────────────────────────┬───┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                    ┆ … ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                     ┆   ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                     ┆   ┆ str    ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═════════════════════════╪═══╪════════╪══════╪═══════╪══════════╡
│ 16          ┆ 1        ┆ 2      ┆ Hewlett, Mrs. (Mary D   ┆ … ┆ 248706 ┆ 16.0 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Kingcome)               ┆   ┆        ┆      ┆       ┆          │
│ 21          ┆ 0        ┆ 2      ┆ Fynney, Mr. Joseph J    ┆ … ┆ 239865 ┆ 26.0 ┆ null  ┆ S        │
│ 22          ┆ 1        ┆ 2      ┆ Beesley, Mr. Lawrence   ┆ … ┆ 248698 ┆ 13.0 ┆ D56   ┆ S        │
└─────────────┴──────────┴────────┴─────────────────────────┴───┴────────┴──────┴───────┴──────────┘

## Exercise 4: Select all rows where `Age` is less than or equal 5 *or* `Age` is greater than 75

In [48]:
df = pl.read_csv(csvFile)
df.filter(
    (pl.col("Age") <= 5) | (pl.col("Age") > 74 )
).head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬──────────────────────┬───┬─────────┬────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                 ┆ … ┆ Ticket  ┆ Fare   ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                  ┆   ┆ ---     ┆ ---    ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                  ┆   ┆ str     ┆ f64    ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════════╪═══╪═════════╪════════╪═══════╪══════════╡
│ 8           ┆ 0        ┆ 3      ┆ Palsson, Master.     ┆ … ┆ 349909  ┆ 21.075 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Gosta Leonard        ┆   ┆         ┆        ┆       ┆          │
│ 11          ┆ 1        ┆ 3      ┆ Sandstrom, Miss.     ┆ … ┆ PP 9549 ┆ 16.7   ┆ G6    ┆ S        │
│             ┆          ┆        ┆ Marguerite Rut       ┆   ┆         ┆        ┆       ┆          │
│ 17          ┆ 0        ┆ 3      ┆ Rice, Master. Eugene ┆ … ┆ 382652  ┆ 29.125 ┆ null  ┆ Q        │
└─────────────┴──────────┴────────┴──────────────────────┴───┴─────────┴────────┴───────┴──────────┘

Select all rows where `Age` is in between 5 and 75

In [50]:
df.filter(
    pl.col("Age").is_between(5,75)
).head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley      ┆   ┆           ┆         ┆       ┆          │
│             ┆          ┆        ┆ (Flor…            ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

## Solutions

## Solution to Exercise 1: Select all rows with `Age` greater than 30

In [ ]:
df = pl.read_csv(csvFile)
df.filter(pl.col('Age') > 30).head(3)

## Solution to Exercise 2: Filtering on row numbers
Add a row number column

In [ ]:
df = pl.read_csv(csvFile)
df = df.with_row_count("row_nr")

Exercise 2 cont: Select the first 5 rows using `filter` on the row number column

In [ ]:
df = pl.read_csv(csvFile)
df = df.with_row_count("row_nr")
df.filter(pl.col("row_nr")<5)

## Solution to Exercise 3: Select all rows where `Age` is greater than 30 and the passenger was in 2nd class

In [ ]:
df = pl.read_csv(csvFile)
df.filter((pl.col('Age') > 30) & (pl.col('Pclass')==2)).head(3)

## Solution to Exercise 4: Select all rows where `Age` is less than or equal 5 *or* `Age` is greater than 75

In [ ]:
df = pl.read_csv(csvFile)
df.filter( (pl.col("Age") <= 5) | (pl.col("Age") > 75) ).head(3)

In [ ]:
df = pl.read_csv(csvFile)
df.filter( pl.col("Age").is_between(5,75) ).head(3)