# Reading from a database
By the end of this lecture you will be able to:
- read from a SQL database
- apply row and column filters
- pass data to and from DuckDB

In this example we will use a SQLite database saved in the data directory.

## Connectorx
Polars uses the ConnectorX library to handle **reading** from databases. ConnectorX is fast because it is:
- written in Rust
- stores data in Apache Arrow and so Polars can access the data without copying

For this lecture we import the built-in sqlite3 module in Python

In [ ]:
import sqlite3
from pathlib import Path

import polars as pl

## Creating a database with SQLite and Pandas

For this lecture we first create a local database with SQLite. A SQLite database is simply a file on disk. 

To access SQLite we use the sqlite3 package that is built into Python. We use Pandas to write to the database

In [ ]:
csvFile = "../data/nyc_trip_data_1k.csv"
dfPandas = pl.read_csv(csvFile).to_pandas()

First we set the path to the directory where we create the SQLite database file.

If this does not yet exist we create it

In [ ]:
sqliteDBDirectory = Path("data_files/sqlite/nyc_data")
if not sqliteDBDirectory.exists():
    sqliteDBDirectory.mkdir(parents=True,exist_ok=True)

We now set the path to the SQLite database file that we will create

In [ ]:
sqliteDBPath = sqliteDBDirectory / "nyc_trip_data_1k.sqlite"

We now open a connection to the database.  We write the data to a table called `records` in the database

In [ ]:
sqliteConnection = sqlite3.connect(sqliteDBPath)
(
    dfPandas
    .sort_values("passenger_count")
    .to_sql('records', sqliteConnection, if_exists='replace', index=False)
)

The output of `1000` tells us that we have written 1000 rows to the SQLite database file.

We can see this file in the sub-directory

In [ ]:
ls data_files/sqlite/nyc_data/

## Querying a database with Polars
In order to connect to the database from `Polars` we need the following connection string.

We call `as_posix` on `sqliteDBPath` to get this path as a string

In [ ]:
polarsDBConnection = 'sqlite://' + sqliteDBPath.as_posix()
polarsDBConnection

We query the database with this the connection string and a sql query.

In this example we select 3 rows from the records table

In [ ]:
df = pl.read_sql(
    "select * from records limit 3",
    polarsDBConnection)
df

Reading from a database is typically slower than reading the same data from a file. Even if the file is a relatively slow file format such as CSV

In [ ]:
%timeit -n1 -r1 pl.read_csv(csvFile)
%timeit -n1 -r1 pl.read_sql("select * from records",polarsDBConnection)

## Reading from a client-server database
To read from a client-server database like Postgres then the connection string requires the standard connection and login details
```python
uri = "postgresql://username:password@server:port/database"
pl.read_sql("select * from records")
```

## Filtering rows and selecting columns
At present `pl.read_sql` works only in eager mode. If you read a database and then `select` a column or `filter` rows then the entire database is read into memory before the `select` or `filter` is applied.

In [ ]:
(
    pl.read_sql(
        "select * from records",
        polarsDBConnection)
    .filter(
        pl.col("passenger_count")>3
    )
    .head(3)
)

To apply the filters in the database you need to specify the filters in the SQL string using `where`

In [ ]:
(
    pl.read_sql(
        "select * from records where passenger_count > 3",
        polarsDBConnection
    )
    .head(3)
)

While to select columns you specify the columns in the SQL string

In [ ]:
(
    pl.read_sql(
        "select pickup,dropoff from records",
        polarsDBConnection
    )
    .head(3)
)

## DuckDB
DuckDB is like SQLite but optimised for analytics.  

Although DuckDB is not built in Arrow like Polars it can work with Arrow data.

We can pass the Arrow Table from Polars to DuckDB for a query

In [ ]:
%pip install duckdb

We import duckDB and read the data into a Polars `DataFrame`

In [ ]:
import duckdb
dfPolars = pl.read_csv(csvFile)

We first pass the Arrow data from Polars to DuckDB

In [ ]:
nyc = duckdb.arrow(dfPolars.to_arrow())

We can then query the database and return the results as an Arrow Table

In [ ]:
nyc.query('nyc','SELECT passenger_count,avg(trip_distance) FROM nyc group by passenger_count').to_arrow_table()

However, it is more useful to return the results as a Polars `DataFrame`

In [ ]:
pl.from_arrow(
    nyc.query(
        'nyc',
        'SELECT passenger_count,avg(trip_distance) FROM nyc group by passenger_count'
    ).to_arrow_table()
)

## Exercises

In the exercises you will develop your understanding of:
- querying a database with `pl.read_sql`
- querying DuckDB via an Arrow Table

### Exercise 1
Get the maximum and average of the passenger count when the trip distance is greater than 5 km

### Exercise 2
Read the Titanic dataset into a `DataFrame`

In [ ]:
titanicCSVFile = "../data/titanic.csv"

In [ ]:
dfTitanic = <blank>

Read the data into DuckDB with `duckdb.arrow`

Get the average age in each passenger class and return the result as a Polars `DataFrame`

## Solutions

### Solution to exercise 1
Get the maximum and average of the passenger count when the trip distance is greater than 5 km

In [ ]:
(
    pl.read_sql(
        "select max(passenger_count),avg(passenger_count) from records where trip_distance > 5",
        polarsDBConnection)
)

### Solution to exercise 2
Read the Titanic dataset into a `DataFrame`

In [ ]:
titanicCSVFile = "../data/titanic.csv"

In [ ]:
dfTitanic = pl.read_csv(titanicCSVFile)

Read the data into DuckDB with `duckdb.arrow`

In [ ]:
titanic = duckdb.arrow(dfTitanic.to_arrow())

Get the average age in each passenger class and return the result as a Polars `DataFrame`

In [ ]:
(
    pl.from_arrow(
        titanic.query('titanic','select Pclass,avg(Age) from titanic group by Pclass').to_arrow_table()
    )
)